body {
	margin: 0;
	padding: 0;
	background-color: #1a3057;
	overflow: hidden;
}

.blueprint {
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
		linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
	background-size: 20px 20px;
	position: relative;
}

.grid-large {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
		linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
	background-size: 100px 100px;
	position: absolute;
	top: 0;
	left: 0;
}

.circle {
	position: absolute;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 50%;
	background-color: rgba(67, 86, 138, 0.31);
	animation: float 20s infinite ease-in-out;
}

.title {
	position: absolute;
	left: 50%;
	top: 60px;
	margin-left: -120px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Courier New', Courier, monospace;
	font-size: 30px;
	line-height: 20px;
	color: white;
	width: 240px;
}

.title-external-display {
	top: 20px;
	width: 400px;
	margin-left: -200px;
}

.prompt {
	position: absolute;
	left: 20px;
	top: 120px;
	text-transform: uppercase;
	font-family: 'Courier New', Courier, monospace;
	font-size: 18px;
	line-height: 20px;
	color: whitesmoke;
}

.response {
	position: absolute;
	left: 20px;
	top: 160px;
	text-transform: uppercase;
	font-family: 'Courier New', Courier, monospace;
	font-size: 18px;
	line-height: 20px;
	color: lightgoldenrodyellow;
	max-width: calc(100vw - 40px);
}

.wrapper {
	z-index: 999;
}

.logo {
	width: 125px;
	box-shadow: 20px 20px 28px -15px rgba(20, 20, 20, 0.5);
	border-radius: 25px;
}

.corner-arrow {
	position: fixed;
	width: 40px;
	height: 40px;
	fill: none;
	stroke: white;
	stroke-width: 2;
}

/* Top Left */
.arrow-tl {
	top: 10px;
	left: 10px;
	transform: rotate(-45deg);
}

/* Top Right */
.arrow-tr {
	top: 10px;
	right: 10px;
	transform: rotate(45deg);
}

/* Bottom Left */
.arrow-bl {
	bottom: 10px;
	left: 10px;
	transform: rotate(-135deg);
}

/* Bottom Right */
.arrow-br {
	bottom: 10px;
	right: 10px;
	transform: rotate(135deg);
}

@keyframes float {
	0% {
		transform: translate(0, 0) scale(1);
	}

	25% {
		transform: translate(40px, 40px) scale(1.1);
	}

	50% {
		transform: translate(-40px, 20px) scale(0.9);
	}

	75% {
		transform: translate(20px, -40px) scale(1.05);
	}

	100% {
		transform: translate(0, 0) scale(1);
	}
}